.container{
    display: flex;
}
.blog{
    border:1px solid;
    margin: 1em;
    /* flex-wrap: wrap; */
}
.blog img{
    width: 20%;
    height: 20%;

}
 @media (max-width:600px) {
    .container{
        flex-direction: column;
    }
    .blog{
        background-color: aquamarine;
    }

}
@media (min-width:600px) and (max-width:960px) {
    .blog{
        background-color: blueviolet;
    }
    .container{
        flex-direction: column;
    }
} 
@media (hover:hover) {
    .blog:hover{
        border-radius: 1em;
    }    
}